<footer class="bg-dark footer mt-auto">
    <div class="container py-1 text-muted">
        <div class="col-md-12 text center">        
            <h2 class="footer-heading"><a href="#" target="_blank" rel="noopener noreferrer" class="logo" style="background-color: transparent; text-align: center !important; font-size: 30px; font-weight: 700; color: #fff;">TSF-Bank</a></h2>
        </div>
        <h3 class="d-inline">Connect</h3> 
        <div class="d-inline p-4" style="font-size: 1.5rem;">
            <a href="https://github.com/sssplCodeStar" class="p-1" style="text-decoration: none; color: #c2c1c1;;"><i class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/_the_sword_of_god/" class="p-1" style="text-decoration: none; color: #c2c1c1;"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/saif-khan-353171221" class="p-1" style="text-decoration: none; color: #c2c1c1;"><i class="fab fa-linkedin"></i></a>
        </div>
        <hr style="height:2px;">
    </div>
   
    <div class="container py-2">
        <div class="text-center"><span class="text-muted">&copy;2022 TSF-Bank, All Rights Reserved | Designed & Ddeveloped By &#64;Saif Khan</span></div>
    </div>
    
</footer>