<% layout('./layouts/layouts') %>
    <div class="container" style="font-family: 'Abel', sans-serif;">
        <div class="text-center" style="color: aliceblue;">
            <h1 class="display-4 text center" style="font-family: 'Roboto'; color: #000;">Welcome To TSF-Bank</h1>
            <h2 style="font-family: 'Roboto';">"Mind your Own Bank"</h2>
        </div>
        <div class="row mb-2" style="color: black;">
            <div class="col-md-4 col-sm-6 p-4">
                <h2><i class="fas fa-wallet"></i></h2>
                <h2>Perform Transaction</h2>
                <p class="text-muted">You can perform Transaction Account to Account.</p>
            </div>
            <div class="col-md-4 col-sm-6 p-4">
                <h2><i class="fas fa-address-card"></i></h2>
                <h2>About TSF</h2>
                <p class="text-muted">Saving money becomes less of struggle if the results are looking neat!</p>
            </div>
            <div class="col-md-4 col-sm-8 offset-sm-2 offset-md-0 p-4">
                <h2><i class="far fa-credit-card"></i></h2>
                <h2>Transaction History</h2>
                <p class="text-muted">You can view trasaction that you may done.</p>
            </div>
        </div>
    </div>